body {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #402d2d;
    color: white;
    font-size: 12px;
    font-family: 'Work Sans', sans-serif;
}

a {
    text-decoration: none;
    color: #b38c8c;
}

a:hover {
    text-decoration: none;
    color: white;
}

/*-----------------------------------------------------------------------------------*/
/*  Side List Style
/*-----------------------------------------------------------------------------------*/
.list-group li span {
    font-size: 20px;
    margin-right: 7px;
}

.MenuBar > ul {
    color: #b38c8c;
}

.MenuBar > ul li:hover {
    cursor: pointer;
    color: white;
}

/*-----------------------------------------------------------------------------------*/
/*  Dashboard
/*-----------------------------------------------------------------------------------*/
.widget-box {
    background-color: #2d2121;
    font-size: 14px;
}

/*-----------------------------------------------------------------------------------*/
/*  All User Table show
/*-----------------------------------------------------------------------------------*/
.AllUser table {
    height: 100px;
    width: 90%;
    background-color: #3a2121;
    font-size: 15px;
    box-shadow: 0 0 11px 0 #6b5555;
}

.table td, .table th {
    border-top: 1px solid #5a4040;
}

.AllUser table td:first-child {
    width: 20%;
}

.td-size tr td:nth-child(odd) {
    width: 18%;
    background-color: #1f1917;
}

.td-size tr td input ,
.td-size tr td textarea {
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 3%;
    background: transparent;
    border: 1px solid #8c5858;
    width: 50%;
    color: #ffffff;
    font: 95% Arial, Helvetica, sans-serif;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

#setting{
    display: none;
}

.input-text{
    padding: 2%;
    background: #0000001f;
    border: 1px solid #8c5858;
    width: 83%;
    margin: 5px 0;
    color: #ffffff;
    font: 100% Arial, Helvetica, sans-serif;
    border-radius: 5px;
}