// Here you can add other styles
@import "@/assets/fonts/poppins/poppins.css";
body {
  font-family: Poppins, sans-serif!important;
}

.anticon svg {
  vertical-align: unset !important;
}

.icon {
  display: inline-block;
  color: inherit;
  text-align: center;
  vertical-align: -0.095rem;
  fill: currentcolor;
}

.cursor-pointer {
  cursor: pointer !important;
}


/* WebKit browsers (Chrome, Safari) */
.custom-scrollbar::-webkit-scrollbar {
  width: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: #f3f3f3;
  border: 1px solid #dcdbdb;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #dad0d0;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #c7b8b8;
}
