@media (max-width: 670px) {
    ul#progress {
        left: 36%;
    }
    #SignUp > div,
    #Login div,
    #ForPass div{
        left: 10%;
    }
}

@media (max-width: 414px) {
    ul#progress {
        left: 22%;
    }
    #SignUp > div,
    #ForPass > div,
    #Login > div{
        left: 0;
        width: 97%;
        margin: 0 5px;
    }
    #SignUp > div {
        top: 1%;
    }
}

@media (max-width: 730px) {
    #Login div form .Alert ,
    #SignUp div form .Alert ,
    #ForPass div form .Alert {
        max-width: 160px;
    }
}

@media (max-width: 600px) {
    #Login div form .Alert ,
    #SignUp div form .Alert ,
    #ForPass div form .Alert {
        background-color: transparent;
        text-align: left;
        max-width: 300px;
        box-shadow: none;
        padding: 5px;
        position: inherit;
        margin-right: 0;
        left: 0;
        margin-top: 0;
    }

    #Login div form .Alert::after ,
    #SignUp div form .Alert::after ,
    #ForPass div form .Alert::after {
        content: none;
    }
}







