
body {
    margin: 0;
    padding: 0;
    border: 0;
    height: 100vh;
    background: url("../pic/back_cover.jpg") no-repeat center;
    background-size: cover;
}

input[type="submit"]:focus,
input[type="button"]:focus,
button:focus {
    outline: 0;
    box-shadow: none !important;
}

a {
    text-underline: none;
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill {
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
}

@-webkit-keyframes autofill {
    to {
        color: #ffffff;
        background: transparent;
    }
}

/*-----------------------------------------------------------------------------------*/
/*  Sign Up Loading Style
/*-----------------------------------------------------------------------------------*/
.FirstLoad {
    width: 100%;
    height: 100vh;
    background: #161616 url("../pic/background.gif") repeat;
    z-index: 99;
    position: fixed;
}

ul#progress {
    list-style: none;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 41%;
}

ul#progress li {
    /* Style your list */
    float: left;
    position: relative;
    width: 15px;
    height: 15px;
    border-radius: 50px;
    margin-left: 10px;
    border: 1px solid #111;
    border-right-color: #333;
    border-bottom-color: #333;
    background: #000;
}

ul#progress li:first-child {
    margin-left: 0;
}

/* Remove the margin first li element */

.ball {
    /* Style your ball and set the animation */
    background-color: #2187e7;
    background-image: -moz-linear-gradient(90deg, #2187e7 25%, #a0eaff);
    background-image: -webkit-linear-gradient(90deg, #2187e7 25%, #a0eaff);
    width: 15px;
    height: 15px;
    border-radius: 50px;
    -moz-transform: scale(0);
    -webkit-transform: scale(0);
    -moz-animation: loading 1s linear forwards;
    -webkit-animation: loading 1s linear forwards;
}

.pulse {
    /* Style your second ball to create the amazing effects */
    width: 15px;
    height: 15px;
    border-radius: 30px;
    border: 1px solid #00c6ff;
    box-shadow: 0 0 5px #00c6ff;
    position: absolute;
    top: -1px;
    left: -1px;
    -moz-transform: scale(0);
    -webkit-transform: scale(0);
    -webkit-animation: pulse 1s ease-out;
    -moz-animation: pulse 1s ease-out;
}

/* Control Layers */
#layer1 {
    -moz-animation-delay: 0.5s;
    -webkit-animation-delay: 0.5s;
}

#layer2 {
    -moz-animation-delay: 1s;
    -webkit-animation-delay: 1s;
}

#layer3 {
    -moz-animation-delay: 1.5s;
    -webkit-animation-delay: 1.5s;
}

#layer4 {
    -moz-animation-delay: 2s;
    -webkit-animation-delay: 2s;
}

#layer5 {
    -moz-animation-delay: 2.5s;
    -webkit-animation-delay: 2.5s;
}

#layer7 {
    -moz-animation-delay: 1.5s;
    -webkit-animation-delay: 1.5s;
}

#layer8 {
    -moz-animation-delay: 2s;
    -webkit-animation-delay: 2s;
}

#layer9 {
    -moz-animation-delay: 2.5s;
    -webkit-animation-delay: 2.5s;
}

#layer10 {
    -moz-animation-delay: 3s;
    -webkit-animation-delay: 3s;
}

#layer11 {
    -moz-animation-delay: 3.5s;
    -webkit-animation-delay: 3.5s;
}

@-moz-keyframes loading {
    0% {
        -moz-transform: scale(0, 0);
    }

    100% {
        -moz-transform: scale(1, 1);
    }
}

@-webkit-keyframes loading {
    0% {
        -webkit-transform: scale(0, 0);
    }

    100% {
        -webkit-transform: scale(1, 1);
    }
}

@-moz-keyframes pulse {
    0% {
        -moz-transform: scale(0);
        opacity: 0;
    }

    10% {
        -moz-transform: scale(1);
        opacity: 0.5;
    }

    50% {
        -moz-transform: scale(1.75);
        opacity: 0;
    }

    100% {
        -moz-transform: scale(0);
        opacity: 0;
    }
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(0);
        opacity: 0;
    }

    10% {
        -webkit-transform: scale(1);
        opacity: 0.5;
    }

    50% {
        -webkit-transform: scale(1.75);
        opacity: 0;
    }

    100% {
        -webkit-transform: scale(0);
        opacity: 0;
    }
}

/*-----------------------------------------------------------------------------------*/
/*  Log In And Sign up Form Design
/*-----------------------------------------------------------------------------------*/
#Login > div,
#SignUp > div ,
#ForPass > div {
    position: absolute;
    z-index: 1;
    top: 15%;
    left: 20%;
    width: 360px;
    background-color: rgba(25, 12, 12, 0.7);
    box-shadow: 0 0 9px 0 #ece4e4;
    color: white;
}

#Login > div header,
#SignUp > div header ,
#ForPass > div header {
    font-weight: bold;
    font-family: arial, sans-serif;
    color: #f9f3f4;
    text-shadow: 1px 1px 1px #000;
    font-size: 200%;
}

#SignUp ,
#ForPass {
    display: none;
}

#Login div header button,
#SignUp div header button {
    background-color: #5c5c5c;
    border: 1px solid #504444;
    padding: 4px 20px;
    font-size: 14px;
    color: white;
}

#Login div header button:hover ,
#SignUp div header button:hover {
    background-color: #404040;
}

#Login div form i ,
#ForPass div form i {
    border: 1px solid #9a5e5e;
    padding: 7px 10px 10px;
    font-size: 20px;
    border-right: 0;
    width: 40px;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}

#Login div form input[type="password"],
#Login div form input[type="email"] ,
#SignUp div form input[type="text"] ,
#SignUp div form input[type="email"] ,
#ForPass div form input[type="email"] ,
#ForPass div form input[type="password"] ,
#SignUp div form select,
#ForPass div form select,
#SignUp div form input[type="password"] {
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 3%;
    background: transparent;
    border: 1px solid #8c5858;
    width: 87%;
    height: 39px;
    color: #ffffff;
    font: 95% Arial, Helvetica, sans-serif;
    margin-bottom: 4%;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

#Login div form input[type="submit"] ,
#SignUp div form input[type="submit"] ,
#ForPass div form input[type="button"] ,
#ForPass div form input[type="submit"] {
    background-color: #b3828247;
    height: 40px;
    padding: 3px;
    color: white;
    font-size: 22px;
    margin-top: 10px;
    font-weight: 500;
    border: 2px solid #98989817;
    border-radius: 5px;
    font-family: Work Sans, serif;
}

#Login div form input[type="submit"]:hover,
#SignUp div form input[type="submit"]:hover,
#ForPass div form input[type="button"]:hover,
#ForPass div form input[type="submit"]:hover{
    background-color: rgba(150, 150, 150, 0.48);
}

#Login div footer {
    color: white;
    font-size: 14px;
}

/* Remember me Checkbox */
.switch {
    position: relative;
    display: inline-block;
    width: 44px;
    height: 18px;
    margin-bottom: -4px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #4f4f4f;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 11px;
    width: 11px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider i{
    padding-left: 2px;
    display: none;
    margin-top: -1px;
}

input:checked + .slider {
    background-color: #305a33;;
}

input:checked + .slider i{
    display: block;
}

input:focus + .slider {
    box-shadow: 0 0 1px #305a33;;
}

input:checked + .slider:before {
    -webkit-transform: translateX(23px);
    -ms-transform: translateX(23px);
    transform: translateX(23px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 12px;
}

.slider.round:before {
    border-radius: 50%;
}

#Login div footer > span:last-child:hover {
    cursor: pointer;
    text-decoration: underline;
}

#Login div form .Alert,
#SignUp div form .Alert ,
#ForPass div form .Alert {
    visibility: hidden;
    background-color: #0a0a0aeb;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    font-size: 14px;
    max-width: 215px;
    box-shadow: 0 0 8px 1px #868686;
    padding: 7px 12px;
    position: absolute;
    margin-right: -233px;
    left: 105%;
    margin-top: 1px;
}


#Login div form .Alert::after ,
#SignUp div form .Alert::after ,
#ForPass div form .Alert::after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 100%; /* To the left of the tooltip */
    margin-top: -6px;
    border: 7px solid transparent;
    border-right-color: #0a0a0aeb;
}


/*-----------------------------------------------------------------------------------*/
/*  Only Sign up Form Design
/*-----------------------------------------------------------------------------------*/
#SignUp div form .birthGender,
#ForPass div form .birthGender{
    font-size: 15px;
}

#SignUp div form select,
#ForPass div form select{
    width: 26%;
    color: white;
    font-size: 13px;
    background-color: rgba(25, 16, 16, 0.82);
}

#ForPass-FormAgain{
    display: none;
}

























